<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>

  <mat-toolbar color="primary">
    <span>Flowers Fly</span>
    <span class="example-spacer"></span>
    <button mat-button
            *ngFor="let item of menu"
            routerLink="{{item.link}}">
      {{item.title}}
    </button>
    <span class="spacer"></span>

    <button mat-icon-button (click)="showLoginModal()" *ngIf="!$login.isLoggedIn">
      <mat-icon fontIcon="fa-sign-in" fontSet="fa"></mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="loggedInMenu" *ngIf="$login.isLoggedIn">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #loggedInMenu="matMenu">
      <button mat-menu-item (click)="showLogoutModal()">
        <mat-icon fontIcon="fa-sign-out" fontSet="fa"></mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>

  </mat-toolbar>


  <mat-menu #appMenu="matMenu">
    <button *ngFor="let item of menu"
            mat-menu-item
            routerLink={{item.link}}>{{item.title}}</button>
  </mat-menu>

  <div>
    <router-outlet *ngIf="!blockScreen.shown"></router-outlet>
    <app-block-screen *ngIf="blockScreen.shown"></app-block-screen>
  </div>

</mat-sidenav-container>
