.spacer {
  flex: 1 1 auto;
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.mat-icon {
  @include mat-icon-size();
}

.main-title{
  font-size: x-large;
  font-family: "Cambria Math", serif;
  margin-right: 1.5vw;
  margin-left: 0.5vw;
}

.user-full-name{
  text-align: center;
  font-size: large;
}

.edit-icon{
  color: blue;
}

.text-align-right{
  text-align: right;
}

.full-screen-dialog .mat-dialog-container {
  max-width: none;
  width: 100vw;
  height: 100vh;
  opacity: 50;
}

.top-navbar {
  overflow: hidden;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1001;
}
