/* Remove the navbar's default margin-bottom and rounded borders */
* {
    --top-bar-height: 65px;
    --bottom-bar-height: 65px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: var(--top-bar-height);
}

html,body{
    height: 100%
}

body {
    padding-top: var(--top-bar-height);
    padding-bottom: var(--bottom-bar-height);
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
    height: var(--bottom-bar-height);
}

.carousel-inner img {
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

#invalidWarning {
    color: red;
}

.padding-sides {
    padding-left: 20px;
    padding-right: 20px;
}