<div>
    <script>
        window.locals.props = <%=props%>;
        window.locals.editable = <%=editable%>;
    </script>
    <table id="usersTable" class="table table-bordred table-striped">

    </table>


    <button type="button" class="btn btn-danger bmd-btn-fab" data-toggle="modal" data-target="#detailsModal" onclick="onOpenDetailsModal(0)">
        <i class="material-icons">Add</i>
    </button>

    <!-- Modal -->
    <div id="delete" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p id="#delete-modal-text" >Are you sure you want to delete user id <span class="selected-id"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button id="delete-button-delete" type="button" class="btn btn-default" data-dismiss="modal" onclick="onDeleteClick()">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="detailsModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-nody" style="overflow-y: auto">
                    <form id="detailsForm">
                        <div id="detailsModelFields" class="modal-body padding-sides">
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group">
                                <button class="btn btn-default" type="button" data-dismiss="modal" onclick='onCancelClick()'>Cancel</button>
                                <button id="detailsModalSubmitButton" class="btn btn-primary" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>refreshUsers()</script>