<div>

    <table id="usersTable" class="table table-bordred table-striped">

        <thead><tr>
            <th><input type="checkbox" id="checkall"></th>
            <%
            props.forEach((fieldName) => {
            %><th><%=fieldName%></th><%
            })
            if (editable) {%>
            <th>Edit</th>
            <th>Delete</th>
            <%} %>
        </tr></thead>
        <tbody id="usersTableBody" >


        </tbody>

    </table>


    <button type="button" class="btn btn-danger bmd-btn-fab">
        <i class="material-icons">Add</i>
    </button>

    <!-- Modal -->
    <div id="delete" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p id="#delete-modal-text" >Are you sure you want to delete user id <span class="selected-id"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button id="delete-button-delete" type="button" class="btn btn-default" data-dismiss="modal" onclick="onDeleteClick()">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>


</div>
<script>refreshUsers()</script>