<h1 mat-dialog-title>Login</h1>
<div class="app-form" mat-dialog-content>
  <p>Please enter your credentials:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="cred.username" placeholder="username">
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput [(ngModel)]="cred.password" placeholder="password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button (click)="dialogRef.close(cred)">Login</button>
</div>
