<div>
  <button mat-fab class="right-fab" (click)="addItem()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-accordion *ngIf="groupByCol">
    <mat-expansion-panel *ngFor="let item of items | groupBy:groupByCol">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.key}}s
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <mat-table #table [dataSource]="createDataSource(item.value)" matSort>
          <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
            <mat-header-cell *matHeaderCellDef>
              <span *ngIf="col != 'actions'">{{col | splitCamelCase | capitalize}}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="col != 'actions'">{{row[col]}}</span>
              <div *ngIf="col == 'actions'" class="actions-cell">
                <button class="action-icon" mat-icon-button (click)="editRow(row)">
                  <mat-icon>border_color</mat-icon>
                </button>
                <button class="action-icon" mat-icon-button (click)="deleteRow(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-table #table [dataSource]="createDataSource(items)" matSort *ngIf="!groupByCol">

    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef>
        <span *ngIf="col != 'edit'">{{col | splitCamelCase | capitalize}}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="{'text-align-right': col == 'edit' }">
        <span *ngIf="col != 'edit'">{{row[col]}}</span>
        <button class="action-icon" mat-icon-button *ngIf="col == 'edit'" (click)="editRow(row)">
          <mat-icon>border_color</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
